:host {
  display: flex;
  justify-content: center;
  flex-direction: column;

  button#loginGoogle {
    width: fit-content;
    margin: auto;
    #google {
      width: 30px;
      height: 30px;
    }
  }

  nb-card {
    width: fit-content;
    padding: 10px;
    text-align: center;
    margin: 30px auto;
    input.password {
      margin-top: 10px;
    }
    nb-card-footer {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: auto;
      p {
        margin-bottom: 0;
        cursor: pointer;
        max-width: 200px;
      }
    }
  }
}
