<button nbButton id="loginGoogle" (click)="loginWithGoogle()">
  <img id="google" src="/assets/google-logo.svg" />
  {{ "Login with Google" | translate }}
</button>

<nb-card *ngIf="createNew; else login">
  <nb-card-header>{{ "Create account" | translate }}</nb-card-header>
  <nb-card-body>
    <form [formGroup]="createUserForm">
      <input
        type="text"
        formControlName="displayName"
        placeholder="{{ 'Name' | translate }}"
        nbInput
      />
      <input
        type="email"
        formControlName="email"
        placeholder="{{ 'Email' | translate }}"
        nbInput
      />
      <input
        type="password"
        formControlName="password"
        placeholder="{{ 'Password' | translate }}"
        nbInput
      />
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="{{ 'Confirm password' | translate }}"
        nbInput
      />
      <nb-alert
        status="danger"
        size="tiny"
        *ngIf="
          createUserForm.value.confirmPassword &&
          createUserForm.value.password !== createUserForm.value.confirmPassword
        "
      >
        {{ "The passwords need to match!" | translate }}
      </nb-alert>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button
      (click)="registerWithEmail()"
      [disabled]="
        !createUserForm.valid ||
        createUserForm.value.password !== createUserForm.value.confirmPassword
      "
      nbButton
      status="success"
    >
      {{ "Register" | translate }}
    </button>
    <p (click)="createNew = !createNew">
      {{ "If you already have an account click here to login" | translate }}
    </p>
  </nb-card-footer>
</nb-card>

<ng-template #login>
  <nb-card>
    <nb-card-header>{{ "Login with email" | translate }}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="loginForm">
        <input
          type="email"
          formControlName="email"
          placeholder="{{ 'Email' | translate }}"
          nbInput
        />
        <input
          type="password"
          formControlName="password"
          placeholder="{{ 'Password' | translate }}"
          nbInput
          (keydown.enter)="loginForm.valid && loginWithEmail()"
        />
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button
        (click)="loginWithEmail()"
        [disabled]="!loginForm.valid"
        nbButton
        status="success"
      >
        {{ "Login" | translate }}
      </button>
      <p (click)="createNew = !createNew">
        {{ "Don't have an account yet? Click here to register" | translate }}
      </p>
    </nb-card-footer>
  </nb-card>
</ng-template>
