<button nbButton id="loginGoogle" (click)="loginWithGoogle()">
  <img id="google" src="/assets/google-logo.svg" />
  {{ "Login with Google" | translate }}
</button>
<nb-card>
  <nb-card-header>{{
    createNew
      ? ("Create account" | translate)
      : ("Login with email" | translate)
  }}</nb-card-header>
  <input
    id="email"
    type="email"
    placeholder="{{ 'Email' | translate }}"
    nbInput
  />
  <input
    class="password"
    type="password"
    placeholder="{{ 'Password' | translate }}"
    nbInput
  />
  <input
    *ngIf="createNew"
    class="password"
    type="password"
    placeholder="{{ 'Confirm password' | translate }}"
    nbInput
  />
  <nb-card-footer>
    <button nbButton status="success">Login</button>
    <p (click)="createNew = !createNew">
      {{
        createNew
          ? ("If you already have an account click here to login" | translate)
          : ("Don't have an account yet? Click here to register" | translate)
      }}
    </p>
  </nb-card-footer>
</nb-card>
