nb-card {
  max-width: 555px;
  margin: auto;
}

nb-card-header,
nb-card-footer {
  text-align: center;
}

table {
  text-align: center;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: 1px solid #ccc;
}

table td {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

table tr {
  display: flex;
}
