<nb-card>
  <nb-card-header>There are games with you</nb-card-header>
  <nb-card-body>
    DisplayName (Email) has already created games with you aware of that? Do you
    want to keep it?
  </nb-card-body>
  <nb-card-footer>
    <div id="checkPermissions">
      <nb-checkbox>Keep permission for USER to create games for me</nb-checkbox>
      <nb-checkbox>Keep all games USER has created for me</nb-checkbox>
    </div>
    <div id="check"><button nbButton status="warning">Done</button></div>
  </nb-card-footer>
</nb-card>
