nb-card {
  max-width: 400px;
  nb-card-header {
    text-align: center;
  }

  nb-card-footer {
    #checkPermissions {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: fit-content;
    }
    #check {
      text-align: center;
    }
  }
}
