<div *ngIf="games$ | async as games">
  <nb-card *ngIf="games.length > 0">
    <nb-card-header>Games</nb-card-header>
    <nb-card-body>
      <table>
        <tr>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Winner</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let game of games">
          <td>
            <nb-user
              size="large"
              [name]="game.player1"
              picture="https://upload.wikimedia.org/wikipedia/commons/4/40/Mangekyou_Sharingan_Kakashi.svg"
            >
            </nb-user>
          </td>
          <td>
            <nb-user
              size="large"
              [name]="game.player2"
              picture="https://c4.wallpaperflare.com/wallpaper/604/219/751/naruto-shippuden-naruto-uzumaki-1024x768-anime-naruto-hd-art-wallpaper-preview.jpg"
            >
            </nb-user>
          </td>
          <td>{{ game.winner }}</td>
          <td>{{ getDate(game.date) }}</td>
        </tr>
      </table>
    </nb-card-body>
    <nb-card-footer>You have {{ games.length }} games</nb-card-footer>
  </nb-card>
</div>
