<div *ngIf="games$ | async as games">
  <nb-card *ngIf="games.length > 0">
    <nb-card-header>Games</nb-card-header>
    <nb-card-body>
      <table>
        <tr>
          <th>Player 1</th>
          <th>Player 2</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let game of games">
          <td [ngClass]="game.players[0] === game.winner ? 'winner' : 'looser'">
            {{ game.players[0] }}
          </td>
          <td [ngClass]="game.players[1] === game.winner ? 'winner' : 'looser'">
            {{ game.players[1] }}
          </td>
          <td>{{ game.date.toDate() | date }}</td>
          <td (click)="deleteGame(game.id)">
            <button nbButton ghost status="danger">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </table>
    </nb-card-body>
    <nb-card-footer>You have {{ games.length }} games</nb-card-footer>
  </nb-card>
</div>
