nb-card {
	width: fit-content;
	margin: auto;
	margin-bottom: 20px;

	nb-card-body {
		display: flex;
		flex-direction: column;
		
		button {
			width: fit-content;
			margin: auto;
			margin-top: 20px;
		}
	}
}