<nb-layout>
  <nb-layout-header fixed>
    <h4>MyScores</h4>
    <div>
      <nb-select
        [(selected)]="currentLang"
        (selectedChange)="changeLanguage($event)"
        selected="pt"
      >
        <nb-option value="pt">PT</nb-option>
        <nb-option value="en">EN</nb-option>
      </nb-select>
      <button
        ghost
        status="danger"
        nbButton
        nbTooltip="Settings"
        (click)="openSettings()"
      >
        <nb-icon icon="settings-outline"></nb-icon>
      </button>
      <button
        nbButton
        ghost
        status="danger"
        nbTooltip="Change Theme"
        (click)="toggleTheme()"
      >
        <nb-icon
          [icon]="
            themeService.currentTheme === 'dark'
              ? 'sun-outline'
              : 'moon-outline'
          "
        ></nb-icon>
      </button>
      <button
        *ngIf="authService.currentUser$ | async"
        nbButton
        ghost
        status="danger"
        nbTooltip="Log Out"
        (click)="logout()"
      >
        <nb-icon icon="log-out-outline"></nb-icon>
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <div id="footer">
      <div>{{ "Beat your opponent" | translate }}!</div>
    </div>
  </nb-layout-footer>
</nb-layout>
