:host {
  nb-layout-header {
    button {
      margin-left: auto;
    }
  }

  nb-layout-column {
    width: 100hw;
  }
  ::ng-deep {
    .tabset {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

::ng-deep nb-tab.content-active {
  padding: 1rem 0 !important;
}
