<nb-layout>
  <nb-layout-header fixed>
    <h4>MyScores</h4>
    <div>
      <nb-select (selectedChange)="changeLanguage($event)" selected="pt">
        <nb-option value="pt">PT</nb-option>
        <nb-option value="en">EN</nb-option>
      </nb-select>
      <button
        nbButton
        ghost
        status="danger"
        nbTooltip="Change Theme"
        (click)="toggleTheme()"
      >
        <nb-icon
          [icon]="
            themeService.currentTheme === 'dark'
              ? 'sun-outline'
              : 'moon-outline'
          "
        ></nb-icon>
      </button>
      <button
        *ngIf="authService.auth.currentUser"
        nbButton
        ghost
        status="danger"
        nbTooltip="Log Out"
        (click)="logout()"
      >
        <nb-icon icon="log-out-outline"></nb-icon>
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    {{ "Beat your opponent" | translate }}!</nb-layout-footer
  >
</nb-layout>
