:host {
  nb-layout-header {
    button {
      margin-left: auto;
    }
    ::ng-deep nav {
      display: flex;
      justify-content: space-between;
    }
  }

  nb-layout-column {
    width: 100hw;
  }
  ::ng-deep {
    .tabset {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
