@import "../../../variables.scss";

nb-card {
  max-width: 555px;
  margin: auto;
}

nb-card-header,
nb-card-footer {
  text-align: center;
}

table {
  text-align: center;
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 0.5rem;
  border: solid $gray 1px;
}

.winner {
  color: $green;
}

.looser {
  color: $red;
}
