<div *ngIf="games$ | async as games">
  <nb-card *ngIf="games.length > 0">
    <nb-card-header>{{ "Games" | translate }}</nb-card-header>
    <nb-card-body>
      <table>
        <tr>
          <th>{{ "Player" | translate }} 1</th>
          <th>{{ "Player" | translate }} 2</th>
          <th>{{ "Date" | translate }}</th>
          <th></th>
        </tr>
        <tr *ngFor="let game of games">
          <td [ngClass]="game.players[0] === game.winner ? 'winner' : 'looser'">
            {{ game.players[0] | playerName | async }}
          </td>
          <td [ngClass]="game.players[1] === game.winner ? 'winner' : 'looser'">
            {{ game.players[1] | playerName | async }}
          </td>
          <td>{{ game.date.toDate() | date }}</td>
          <td (click)="deleteGame(game.id)" class="deleteGame">
            <button nbButton ghost status="danger" [disabled]="!(game | permissionToDelete)">
              <nb-icon icon="close-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </table>
    </nb-card-body>
    <nb-card-footer>
      {{ "You have" | translate }} {{ games.length }}
      {{ "games" | translate }}
    </nb-card-footer>
  </nb-card>
</div>
