<nb-card>
  <nb-card-body>
    <form [formGroup]="gameForm" class="addGame" (ngSubmit)="addGame()">
      <ng-container *ngIf="players$ | async as players">
        <nb-select
          placeholder="{{ 'Player' | translate }} 1"
          formControlName="player1"
        >
          <nb-option
            *ngFor="let player of players"
            [value]="player.displayName"
            [disabled]="player.displayName === gameForm.value.player2"
            >{{ player.displayName }}</nb-option
          >
          <nb-option (click)="addNewPlayer()">NEW PLAYER</nb-option>
        </nb-select>
        <nb-select
          placeholder="{{ 'Player' | translate }} 2"
          formControlName="player2"
        >
          <nb-option
            *ngFor="let player of players"
            [value]="player.displayName"
            [disabled]="player.displayName === gameForm.value.player1"
            >{{ player.displayName }}</nb-option
          >
          <nb-option (click)="addNewPlayer()">NEW PLAYER</nb-option>
        </nb-select>
      </ng-container>
      <nb-select
        placeholder="{{ 'Winner' | translate }}"
        formControlName="winner"
      >
        <nb-option
          *ngIf="gameForm.value.player1 as player1"
          [value]="player1"
          >{{ player1 }}</nb-option
        >
        <nb-option
          *ngIf="gameForm.value.player2 as player2"
          [value]="player2"
          >{{ player2 }}</nb-option
        >
      </nb-select>
      <input
        nbInput
        placeholder="Ex: Jan 1, 2022"
        [nbDatepicker]="datepicker"
        #date
        formControlName="date"
      />
      <nb-datepicker #datepicker></nb-datepicker>
      <button
        [disabled]="!gameForm.valid"
        type="submit"
        status="danger"
        nbButton
      >
        {{ "Add" | translate }}
      </button>
    </form>
  </nb-card-body>
</nb-card>
